.label-1{

  display: inline-flex;
  color: initial;
  background-color: none;
  text-shadow: initial;
  padding: initial;
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  width:270px;
  height: initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
}
