.plate-0{
  color: initial;
  background-color: transparent;
  box-shadow: initial;
  text-shadow: initial;
  padding: 10px;
  font-size: initial;

  width:initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
}
.plate-0:hover{
}
.plate-0:focus{
  outline: none;
}
.plate-0:active{
}


.plate-1{
  color: initial;
  background-color: transparent;
  box-shadow: initial;
  text-shadow: initial;
  padding-top:50px;
  padding-bottom: 50px;
  font-size: initial;

  width:initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plate-1:hover{
}
.plate-1:focus{
  outline: none;
}
.plate-1:active{
}

.plate-2{
  color: initial;
  background-color: darkorange;
  box-shadow: initial;
  text-shadow: initial;
  padding: 20px;
  font-size: initial;

  width:initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
}
.plate-2:hover{
}
.plate-2:focus{
  outline: none;
}
.plate-2:active{
}


.plate-3{
  color: initial;
  background-color: aquamarine;
  box-shadow: initial;
  text-shadow: initial;
  padding: 10px;
  font-size: initial;

  width:initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
}
.plate-3:hover{
}
.plate-3:focus{
  outline: none;
}
.plate-3:active{
}


.plate-4{
  color: initial;
  background-color: initial;
  box-shadow: initial;
  text-shadow: initial;
  padding: 10px;
  font-size: initial;

  width:initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
}
.plate-4:hover{
}
.plate-4:focus{
  outline: none;
}
.plate-4:active{
}

.plate-5{
  color: initial;
  background-color: plum;
  box-shadow: initial;
  text-shadow: initial;
  padding: 20px;
  font-size: initial;

  width:initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
}
.plate-5:hover{
}
.plate-5:focus{
  outline: none;
}
.plate-5:active{
}

.plate-6{
  color: initial;
  background-color: palegreen;
  box-shadow: initial;
  text-shadow: initial;
  padding: 20px;
  font-size: initial;

  width:initial;
  border: initial;
  border-color: initial;
  border-radius: initial;
  overflow: hidden;
}
.plate-6:hover{
}
.plate-7:focus{
  outline: none;
}
.plate-8:active{
}
